<!doctype html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    	<title>REGISTRATION FORM</title>
	</head>

	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>   
			    </button> 
			   <a class="navbar-brand" href="/">Home</a> 
			  
			  <!--<div class="collapse navbar-collapse">
			    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			      <li class="nav-item">
			        <a class="navbar-brand" href="#">My Bill</a>
			      </li>
			    </ul> -->
			    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			    	<a class="navbar-brand" href="/login">Login</a>
			    	<a class="navbar-brand" href="/register">Register</a>
			    </ul>

			  
		</nav>
		<div class="container">
			<h1> </h1>
			<h1> </h1>
			<h1><strong>Training and Placement</strong></h1>
			<h1> </h1>
			<h1> </h1>
			<h1> </h1>
			<h1> </h1>
			<h1> </h1>
			<p class="text-justify">Fill today for chance of job tommorow</p>
		</div>

		<div class='container w3-card-4 w3-blue ' >
		    <div class = 'row '>
		      <div class = 'col '>
		        <div class = 'col-sm-6 col-12 w3-padding-24'>


		          <form method='POST'> {% csrf_token %}

            		{% if error %}
                	<div class="alert alert-danger alert-dismissable">
                  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  	<strong class="w3-panel w3-red">{{error}}</strong>
                	</div>
            		{% endif %}
            		
		            {{ form }}  
		            <button type='submit' class='btn btn-secondary'>Register</button>
		          </form>

		      </div>
		      </div>
		    </div>
		</div>

		<!-- Javascipt starts here! -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>

</html>
